.qrcode {
  width: 650px;
  height: 650px;
}
.kruisjeknoptekst {
  font-size: 130px;
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif !important;
  text-align: right !important;
}
